* {
    margin: 2;
}

.bloco{
    width: 150px;
    height: 150px;
    overflow: auto;
    background-color: cornflowerblue;
    background-image:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fuxwing.com%2Fcss-icon%2F&psig=AOvVaw2WjoJLPMoibiWhgATcTOU6&ust=1692104934156000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCIC8r5-c3IADFQAAAAAdAAAAABAD);
    background-size: 5px;
    background-repeat: no-repeat;
    /*background-position: ;*/

    /*box-shadow: 2px 2px;
    box-shadow: -4px 4px 4px 0px gray;*/
    box-shadow: -4px 4px 4px 0px rgb(134, 13, 200) inset, -4px 4px 4px 0px rgb(33, 161, 215);
    border: 2px solid #000000;
    padding: 8px;
    margin: 16px;
    /*margin: 40px 20px 40px 20px;
    border-radius: 20px; -->
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    padding: 20px;
    padding-left: 40px; */

    
}


/*body {
    margin: 5;
    padding: 5;
}*/