<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#if imagem}}
        <h1>{{titulo}}</h1>
        {{conteudo}}
        <img src="/img/imagem.jpeg" alt="Xadrez">
    {{else}} 
        <h1>Nome oculto</h1>
    {{/if}}
</body>
</html>