<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
    <style>
      body {
       overflow: hidden;
      }
    </style>
<body>

  <div class="container-com-fundo-branco">
 
    <div class="navbar">
      <div class="navbar navbar-expand-lg fixed-top bg-primary" data-bs-theme="dark" style>
        <div class="trex-game-with-icon">
          <i class="fa-brands fa-jenkins fa-2xl"></i>
         <a href="/game" class="navbar-brand">TRex Game</a>
        </div>
            <div class="menus">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
               data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                 <li class="nav-item">
                    <a class="nav-link" href="/game">Game</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/areas">Áreas</a>
                  </li>
                  <li class="nav-item dropdown" data-bs-theme="light">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                    href="#" id="download">Curso</a>
                    <div class="dropdown-menu" aria-labelledby="download">
                      <a class="dropdown-item" href="/curso/create">Criar</a>
                      <a class="dropdown-item" href="/curso/update/1">Atualizar</a>
                      <a class="dropdown-item" href="/curso/">Visualizar</a>
                    </div>
                 </li>
                </ul>
              </div>
            </div>
       </div>
    </div>

    <div id="game" class=" telagame">
      <script src="js/game.js"></script>
      <div class="over"></div>
      <div class="restart"></div>
    </div>

  </div>
    {{{body}}}  
    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>