<div class="container">
    <h1>Áreas da Ciência</h1>
    {{#each areas}}
        <li>{{nome}}</li>
    {{/each}}
</div>

<!--<h2>Áreas do Conhecimento</h2>
<ul>
    {{#each areas}}
        <li>{{nome}}</li>
    {{/each}}
</ul> -->