* {
    margin: 2;
}

.bloco{
    background-image: image-set();
    background-color: black;
    /*background-image: ;*/
    background-size: 100px;
    background-repeat: no-repeat;
    /*background-position: ;*/
    box-shadow: 2px 2px 4px 0px rgb(11, 11, 11) inset;
    margin: 16px;

    border: 10px solid #95590f;
    border-radius: 22px 22px 22px 22px;
    padding: 20px;
    padding-left: 40px;

    /*box-shadow: -4px 4px 4px 0px rgb(134, 13, 200) inset, -4px 4px 4px 0px rgb(33, 161, 215);*/
    /*box-shadow: 2px 2px;
    box-shadow: -4px 4px 4px 0px gray;*/

    /*margin: 40px 20px 40px 20px;
    border-radius: 20px; -->
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    padding: 20px;
    padding-left: 40px; */

    
}


/*body {
    margin: 5;
    padding: 5;
}*/

* {
    margin: 2;
}
