<h2 class="titleSobre" >{{titulo}}</h2>
<img src="/img/trex.png" alt="Trex" class="center"> 
<div class="text" >O jogo do Trex é um jogo de corrida sem fim que pode ser jogado no navegador Google Chrome 
    quando não há conexão com a internet. O personagem principal é um dinossauro T-Rex que corre pelo deserto, 
    pulando ou se abaixando para evitar os obstáculos como cactos e pterodáctilos. O jogo fica mais rápido e difícil 
    à medida que a distância percorrida aumenta. O jogo do Trex é uma homenagem aos tempos pré-históricos, quando a internet 
    ainda não era tão desenvolvida e onipresente. O nome do jogo é inspirado na banda de rock dos anos 1970 T-Rex, cujo vocalista 
    era Marc Bolan. A minha página do jogo do Trex é uma versão online e gratuita do jogo original, que pode ser acessada por 
    qualquer navegador e dispositivo móvel. Você pode competir com seus amigos e outros jogadores pelo maior placar e compartilhar 
    suas conquistas nas redes sociais. Você pode jogar o jogo usando a barra de espaço ou as setas para cima e para baixo para 
    controlar o dinossauro. A minha página do jogo do Trex é uma forma divertida e desafiadora de passar o tempo quando você 
    estiver entediado ou sem internet.
</div>




