.bloco {
    display: flex;
    height: 200px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 10px solid black;

}

.bloco div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 160px;
    background-color: aquamarine;
    margin: 8px;
    order: 2;
}

.bloco .i1{
    order: 1;
    flex-grow: 3;
    flex-shrink: 1;
}
